<div class="container-topo">
    <div class="contentTopo">
        <a href=""><img src="images/menuIcon.png" id="iconeMenu" ng-if="!detectMobile()" ng-click="mudarViewMenu()"></a>
        <h1><a ui-sref="dashboard"> SIGER</a></h1>
    </div>
</div>
<div ng-if="!detectMobile()" style="height: 91vh; position: relative;"> <!-- Versão desktop -->
    <div class="container-menu animate-if" ng-if="viewMenu">
        <ul class="botao-menu">
            <a ui-sref="dashboard.inicio">
                <li ng-class="{active: $state.current.name == 'dashboard.inicio'}">Início</li>
            </a>
            <a ui-sref="dashboard.cadastrarAluno">
                <li ng-class="{active: $state.current.name == 'dashboard.cadastrarAluno'}">Cadastrar alunos</li>
            </a>
            <a ui-sref="dashboard.verAlunos">
                <li ng-class="{active: $state.current.name == 'dashboard.verAlunos'}">Ver alunos</li>
            </a>
            <a ui-sref="dashboard.gerarRota">
                <li ng-class="{active: $state.current.name == 'dashboard.gerarRota'}">Gerar rota</li>
            </a>
            <a ui-sref="dashboard.verRotas">
                <li ng-class="{active: $state.current.name == 'dashboard.verRotas'}">Ver rotas</li>
            </a>
            <a ui-sref="dashboard.sobreNos">
                <li ng-class="{active: $state.current.name ==  'dashboard.sobreNos'}">Sobre nós</li>
            </a>
			<a ui-sref="login" ng-click="deslogar()">
				<li>Logout</li>
			</a>
        </ul>
    </div>
<div ui-view class="slide-right"></div>
</div>
<div class="container-botao" ng-if="detectMobile() && $state.current.name == 'dashboard'">
    <a ui-sref="dashboard.cadastrarAluno">
        <div class="botao-home">Cadastrar Aluno</div>
    </a>

    <a ui-sref="dashboard.gerarRota">
        <div class="botao-home">Gerar Rota</div>
    </a>

	<a ui-sref="login">
		<div class="botao-home" ng-click="deslogar()">Logout</div>
	</a>

</div>
<div ng-if="detectMobile()" ui-view></div>

