################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/slnx.sqlite-journal
/.vs/config
/.vs/slnx.sqlite
/.vs/SIGERA-SI-2017.1-CS/v15/.suo
/.vs/VSWorkspaceState.json
/.vs
