html {
    font-family: "Century Gothic", sans-serif;
    height: 100%;
    width: 100%;
}

.container {
    background: #FFFFFF;
    margin: 20px;
}

.containerTopo {
    margin: 0 auto;
}

.containerBotao {
    margin-top: 40%;
    margin-left: 8%;
    margin-right: 8%;
}

.botaoHome {
    background: #FFFFFF;
    color: #c48366;
    text-align: center;
    text-transform: uppercase;
    font-size: 20pt;
    padding: 30px;
    margin-bottom: 50px;
}

.botao-estilo-1 {
    background: #FFFFFF;
    color: #c48366;
    text-align: center;
    text-transform: uppercase;
    font-size: 20pt;
    padding: 30px;
}

.botao-estilo-2 {
    font-size: 20pt;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    border: 0;
    background-color: #c48366;
}

.formulario {
    color: #c48366;
    font-size: 15pt;
}

.formulario-grupo {
    margin: 20px 20px 20px 20px;
}

.formulario-input {
    font-size: 15pt;
    color: #5e5e5e;
    padding: 5px 0 5px 0;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #c48366;
    border-radius: 5px;
}

.formulario-botao-container {
    padding-bottom: 20px;
    text-align: center;
}

.tabela {
    font-size: 15pt;
    color: #c48366;
}

.tabela-coluna-confirmacao input[type="checkbox"]{
    width: 50px;
    height: 50px;
}

.tabela-coluna-nome{
    padding-left: 20px;
}

h1 {
    margin: 0 auto;
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
    color: #c48366;
    background-color: #FFFFFF;
}

h2 {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: #c48366;
    font-size: 20pt;
    padding-top: 20px;
    padding-bottom: 15px;
}

body {
    margin: 0;
    background: #c48366;
    background: -webkit-linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background: -o-linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background: -moz-linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background: linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

ng-map#mapa {
    display: block;
    height: 600px;
    width: 100%;
    float: left;
}
a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

#containerMapa {
    width: 68%; 
    float:left;
    height: 100%;
    margin-left: 20px
}
#directions-panel{
    width: 28%; 
    height: 600px; 
    overflow: auto; 
    padding: 0px 5px; 
    background-color: white; 
    margin-left: 10px; 
    margin-top: 10px;
}

@media (orientation: landscape) {
    .containerBotao {
        margin-top: 15%;
    }
}
