
html{
    font-family: "Century Gothic", sans-serif;
    height: 100%;
}
.container{
    height: 60%;
    background: #c48366;
    background: -webkit-linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background: -o-linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background: -moz-linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background: linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    padding-top: 195px;
    /* padding-bottom: 13px; */
}
.containerTopo{
    margin: 0 auto;
}
.botaoHome{
    background: #FFFFFF;
    color: #c48366;
    text-align: center;
    text-transform: uppercase;
    font-size: 25pt;
    padding: 15px;
    width: 32%;
    margin: 0 auto;
    /* margin-top: 106px; */
    margin-bottom: 96px;
}
h1 {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    /* padding-top: 0px; */
    color: #c48366;
    background-color: #FFFFFF;
    font-size: 75pt;
    padding-bottom: 15px
}

body {
    margin: 0 auto;
    height: 100%;	
}

a, a:link, a:visited, a:hover, a:active{
    text-decoration: none;
    color: inherit;
}




@media(max-width: 1024px){
    .container{
        height: 100%;
        padding-top: 50px;
    }
    h1{
        font-size: 40pt;
    }
    .botaoHome{
        margin-top: 70px;
        font-size: 10pt;
        width: 50%;
    }
}


