<div class="container-topo">
    <div class="contentTopo">
        <a ui-sref="dashboard">
            <h1> SIGER</h1>
        </a>
    </div>
</div>
<div ng-if="!detectMobile()" style="height: 88vh;"> <!-- Versão desktop -->
    <div ng-click="mudarViewMenu()">Esconder/Mostrar Menu lateral</div>
    <div class="container-menu animate-if" ng-if="viewMenu">
        <ul class="botao-menu">
            <a ui-sref="dashboard">
                <li ng-class="{active: $state.current.name == 'dashboard'}">Início</li>
            </a>
            <a ui-sref="dashboard.cadastrarAluno">
                <li ng-class="{active: $state.current.name == 'dashboard.cadastrarAluno'}">Cadastrar alunos</li>
            </a>
            <a ui-sref="dashboard.verAlunos">
                <li ng-class="{active: $state.current.name == 'dashboard.verAlunos'}">Ver alunos</li>
            </a>
            <a ui-sref="dashboard.gerarRota">
                <li ng-class="{active: $state.current.name == 'dashboard.gerarRota'}">Gerar rota</li>
            </a>
            <a ui-sref="dashboard.verRotas">
                <li ng-class="{active: $state.current.name == 'dashboard.verRotas'}">Ver rotas</li>
            </a>
            <a ui-sref="dashboard.sobreNos">
                <li ng-class="{active: $state.current.name ==  'dashboard.sobreNos'}">Sobre nós</li>
            </a>
        </ul>
    </div>
<div ui-view></div>
</div>
<div class="container-botao" ng-if="detectMobile() && $state.current.name == 'dashboard'">
    <a ui-sref="dashboard.cadastrarAluno">
        <div class="botao-home">Cadastrar Aluno</div>
    </a>

    <a ui-sref="dashboard.gerarRota">
        <div class="botao-home">Gerar Rota</div>
    </a>
</div>
<div ng-if="detectMobile()" ui-view></div>

