<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <title>Gerar Rota</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<header>
    <a href="index.html"><h1>Siger</h1></a>
</header>
<div class="container">
    <h2>Confirmar Alunos</h2>
    <form action="" method="">
        <table class="tabela">
            <tr>
                <td class="tabela-coluna-confirmacao"><input type="checkbox" id=""></td>
                <td class="tabela-coluna-nome">Victor Mota</td>
            </tr>
            <tr>
                <td class="tabela-coluna-confirmacao"><input type="checkbox" id=""></td>
                <td class="tabela-coluna-nome">Victor Mota</td>
            </tr>
            <tr>
                <td class="tabela-coluna-confirmacao"><input type="checkbox" id=""></td>
                <td class="tabela-coluna-nome">Victor Mota</td>
            </tr>
            <tr>
                <td class="tabela-coluna-confirmacao"><input type="checkbox" id=""></td>
                <td class="tabela-coluna-nome">Victor Mota</td>
            </tr>
            <tr>
                <td class="tabela-coluna-confirmacao"><input type="checkbox" id=""></td>
                <td class="tabela-coluna-nome">Victor Mota</td>
            </tr>
        </table>
        <div class="formulario-botao-posicao">
            <button type="submit" class="botao-estilo-2">Gerar Rota</button>
        </div>
    </form>
</div>
</body>
</html>