<div class="container">
    <h2>Confirmar Alunos</h2>
    <form class="formulario">
        <table class="tabela">
           <tr ng-repeat="aluno in alunos">
               <td class="tabela-coluna-input"><input type="checkbox" ng-model="aluno.selecionado"></td>
               <td class="tabela-coluna-nome">{{aluno.nome}}</td>
           </tr>
        </table>
        <div class="formulario-botao-container">
            <button class="botao-estilo-2" ng-click="gerarRota(alunos)">Gerar Rota</button>
        </div>
    </form>
</div>
