<div class="container-botao" ng-if="detectMobile()">
    <a href="#cadastrarAluno">
        <div class="botao-home">Cadastrar Aluno</div>
    </a>

    <a href="#gerarRota">
        <div class="botao-home">Gerar Rota</div>
    </a>

    <a href="#mapaRota">
        <div class="botao-home">Mapa da rota</div>
    </a>
</div>

<div ng-if="!detectMobile()" style="height:85%;"> <!-- Versão desktop -->
    <div class="container-menu">
        <ul class="botao-menu">
            <li style="background-color: #c48366; color: #FFF;">Menu</li>
            <a href="#/"><li>Início</li></a>
            <a href="#cadastrarAluno"><li>Cadastrar alunos</li></a>
            <a href="#/"><li>Ver alunos</li></a>
            <a href="#gerarRota"><li>Gerar rota</li></a>
            <a href="#/"><li>Ver rotas</li></a>
            <a href="#/"><li>Sobre nós</li></a>
        </ul>
    </div>
    <div class="container-desktop"></div>
</div>
