<div  ng-if = "!pauseLoading">
    <div id ="container-mapa" map-lazy-load = "https://maps.google.com/maps/api/js"
         map-lazy-load-params = "{{googleMapsUrl}}">
        <ng-map id="mapa" center = "current-location" map-initialized = "mapInit(map)" default-style="false" zoom = "{{zoom}}">
            <directions
                    draggable = "true"
                    travel-mode = "{{travelMode}}"
                    panel="directions-panel"
                    origin = "current-location"
                    waypoints = "{{waypoint}}"
                    destination = "{{destino}}"
                ></directions> 
        </ng-map>
    </div>
    <div id="directions-panel">
    </div>
</div>
