<div class="formulario">
    <div class="tabela" style="float: left;">
        <div ng-repeat="aluno in alunos">
            <p ng-click="mostrarAluno(aluno)">{{aluno.nome}}</p> 
        </div>
    </div>
    <div ng-if="alunoSelecionado" style="float: left; margin-left: 20px;">
        Nome: {{alunoSelecionado.nome}} <br>
        Endereço: {{alunoSelecionado.endereco}} <br>
        Instituição: {{alunoSelecionado.instituicao}} <br>
        Telefone: {{alunoSelecionado.telefone}} <br>
        <a>
            <div ng-click="fecharAluno()" style="background-color:azure">
                Fechar
            </div>
        </a>
    </div>
</div>