<div class="container-desktop">
    <table class="ver-alunos-tabela">
        <tr ng-repeat="aluno in alunos" ng-click="mostrarAluno(aluno)">
            <td class="ver-alunos">{{aluno.nome}}</td>
        </tr>  
    </table>
    <div ng-if="alunoSelecionado" class="aluno-selecionado">
            Nome: {{alunoSelecionado.nome}} <br>
            Endereço: {{alunoSelecionado.endereco}} <br>
            Instituição: {{alunoSelecionado.instituicao}} <br>
            Telefone: {{alunoSelecionado.telefone}} <br>
    </div>
</div>
