<div class="formulario">
        <div id="container-mapa" map-lazy-load="https://maps.google.com/maps/api/js" map-lazy-load-params="{{googleMapsUrl}}" style="float: right;">
            <ng-map id="mapa" center="{{origin}}" map-initialized="mapInit(map)" default-style="false" zoom="{{zoom}}">
                <directions draggable="true" 
                            travel-mode="{{travelMode}}"  
                            origin="{{origin}}" 
                            waypoints="{{waypoint}}"
                            destination="{{destino}}">
                </directions>
            </ng-map>
        </div>
        <div ng-repeat= "rota in rotasCompletas" style="float: left;">
            <a ng-click ="mostrarRota(rota)"><p>{{rota.data | date: "dd/mm/yy, hh:mm"}}</p></a>
        </div>
</div>