<div class="container-desktop" id="verRotas">
    <table class="ver-alunos-tabela" style="float: left; width: 48%"
           ng-if="rotasCompletas.length > 0">
        <tr ng-repeat="rota in rotasCompletas">
            <td class="ver-alunos"  ng-click="mostrarRota(rota)"><a>{{rota.data | date: "dd/MM/yy, hh:mm"}}</a></td>
        </tr>
    </table>
    <div id="container-mapa" style="float: right;" ng-if="rotasCompletas.length > 0">
        <ng-map id="mapa" center="{{origin}}" default-style="false">
            <directions draggable="true"
                        travel-mode="{{travelMode}}"
                        origin="{{origin}}"
                        waypoints="{{waypoint}}"
                        destination="{{destino}}">
            </directions>
        </ng-map>
    </div>
    <div ng-if="rotasCompletas.length == 0">
        <h2>Gere uma rota para visualizar aqui!</h2>
    </div>
</div>
