html {
    font-family: "Century Gothic", sans-serif;
    height: 100%;
    width: 100%;
}

body {
    height: 100%;
    margin: 0;
    background: #c48366;
    background: -webkit-linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background: -o-linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background: -moz-linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background: linear-gradient(#B0AD9A, #B7A889, #B99D78, #AE785E, #A1655A, #533A40);
    background-repeat: no-repeat;
    background-attachment: fixed;
}

h1 {
    margin: 0 auto;
    font-size: 30pt;
    text-transform: uppercase;
    text-align: center;
    color: #c48366;
    background-color: #FFFFFF;
}

h2 {
    margin: 0 auto;
    text-transform: uppercase;
    text-align: center;
    color: #c48366;
    font-size: 20pt;
    padding-top: 20px;
    padding-bottom: 15px;
}

a, a:link, a:visited, a:hover, a:active {
    text-decoration: none;
    color: inherit;
}

.container {
    background: #FFFFFF;
}

.container-desktop {
    background-color: white;
    float: left;
    margin-top: 5px;
    margin-left: 10px;
    height: 100%;
    width: 78%;
    position: absolute;
    right: 10px;
    transition: width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    overflow: auto;
    z-index: 1;
}

.container-topo {
    margin: 0 auto;
}

.container-botao {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
    width: 80%;
}

.botao-home {
    background: #FFFFFF;
    color: #c48366;
    text-align: center;
    text-transform: uppercase;
    font-size: 20pt;
    padding: 30px;
    margin-bottom: 50px;
}

.botao-estilo-1 {
    background: #FFFFFF;
    color: #c48366;
    text-align: center;
    text-transform: uppercase;
    font-size: 20pt;
    padding: 30px;
}

.botao-estilo-2 {
    font-size: 15pt;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    padding: 20px;
    border: 0;
    background-color: #c48366;
    cursor: pointer;
    width: 335px;
}

.formulario {
    color: #c48366;
    font-size: 15pt;
    float: left;
    background-color: white;
    width: 78%;
    margin-left: 10px;
    margin-top: 5px;
    height: 100%;
    position: absolute;
    right: 10px;
    transition: width cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    overflow: hidden;
    z-index: 1;
}

.formulario-grupo {
    margin: 20px 20px 20px 20px;
}

.formulario-input {
    font-size: 15pt;
    color: #5e5e5e;
    padding: 5px 0 5px 0;
    margin-top: 10px;
    width: 100%;
    border: 1px solid #c48366;
}

.formulario-botao-container {
    padding-bottom: 20px;
    text-align: center;
}

.tabela {
    font-size: 15pt;
    color: #c48366;
}

.tabela-coluna-input input[type="checkbox"] {
    width: 50px;
    height: 50px;
}

.tabela-coluna-nome {
    padding-left: 20px;
}

ng-map#mapa {
    display: block;
    height: 600px;
    width: 100%;
    float: left;
}

#container-mapa {
    width: 51%;
    float: left;
    height: 100%;
    margin-left: 10px;
    margin-top: 5px;
}

#directions-panel {
    width: 46%;
    height: 600px;
    overflow: auto;
    padding: 0px 5px;
    background-color: white;
    margin-left: 10px;
    margin-top: 5px;
    float: left;
}

.container-menu {
    background-color: #FFFFFF;
    float: left;
    width: 20%;
    height: 100%;
    margin-top: 5px;
    border: 10px solid #c48366;
    border-top: 0;
    border-bottom: 0;
    border-right: 0;
    position: absolute;
    z-index: 2;
}

.botao-menu {
    display: inline;
    list-style-type: none;
    color: #c48366;
    text-transform: uppercase;
    margin: 0;
    padding: 0;
}

.botao-menu li {
    height: 50px;
    padding-left: 50px;
    padding-top: 10px;
}

.botao-menu li:hover {
    background-color: #c48366;
    color: #FFFFFF;
}
.active {
    background-color: #c48366; color: #FFF;
}

.ver-alunos-tabela{
    border: 0px;
    border-collapse: collapse;
    float: left;
    width: 100%;
    cursor: pointer;
}

.ver-alunos{
    color: #c48366;
    width: 100%;
    transition: 0.4s;
	font-size: 20pt;
}

.ver-alunos:hover{
    background-color: #c48366;
    color: #FFFFFF;
    width: 500px;
}

.ver-alunos.active{
    background-color: #c48366;
    color: #FFFFFF;
}

.aluno-selecionado{
    background-color: #c48366;
    color: #FFFFFF;
    width: 46%;
    overflow: hidden;
    transition: max-height 0.4s ease-out;
    max-height: 0;
}

#headerMobile{
    display: none;
}
.animate-if.ng-enter, .animate-if.ng-leave {
  transition:left cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
  left:-290px;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
  left:0px;
}

.slide-left.ng-enter,
.slide-left.ng-leave,
.slide-right.ng-enter,
.slide-right.ng-leave {
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  background: inherit;
  -ms-transition: .7s ease-in-out;
  -webkit-transition: .7s ease-in-out;
  transition:  .7s ease-in-out;
}

.slide-left.ng-enter {}
.slide-left.ng-enter.ng-enter-active {
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-left.ng-leave {
  z-index: 100;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}
.slide-left.ng-leave.ng-leave-active {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
}


.slide-right.ng-enter {
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
} 

.slide-right.ng-enter.ng-enter-active, 
.slide-right.ng-leave {
  position: absolute;
  -webkit-transform: translateX(0);
  transform: translateX(0);
}

.slide-right.ng-leave.ng-leave-active {
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
}

#myLogin{
    width: 50%;
    margin-left: 25%;
    margin-top: 10px;
    height: 97%;
    margin-right: 25%;
}

.container-login{
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translate(-50%);
}

#iconeMenu{
    position: absolute;
    height: 50px;
    width: 50px;
    left: 10px;
}

@media screen and (max-width: 1024px){
    .formulario{
        width:95%;
		overflow: auto;
    }
    #headerMobile{
        display: block;
    }
    #myLogin{
        width: 94%;
        margin-top: 10px;
        height: 97%;
        margin-right: 0px;
    }
    .container-login{
        width: 100%;
		margin-top: -110px;
    }
    .formulario-grupo{
        margin: 25px 25px 25px 25px;
    }
	.botao-estilo-2{
		padding: 20px;
		width: 257px;
		font-size: 15pt;
	}

}
